.main{
    background-color: #F9F9F9;
}
.row2 li:not(:last-child){
    padding: 5px 15px;
    float: left;
    font-size: 18px;
    margin: 0 0 0 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row2 li:not(:last-child):hover{
    font-weight: normal;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.171), 0 6px 20px 0 rgba(0, 0, 0, 0.014);
}
.row2 li:not(:last-child) a{
    text-decoration: none;
    color: black;
}
.row3-add{
    height: 80vh;
}
.form2{
    background-color: white;
    height: 60vh;
    top: 50%;
    transform:translateY(15%);
}
.row3-add table{
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    transform:translateY(-50%) translateX(-50%);
}
.row3-add table td{
    padding: 2px 15px;
}
.row3-add table .right{
    padding: 0 15px 0 75px;
}
.row3-add table input,select{
    height: 30px;
    width: 300px;
    border: 1px solid black;

}
#btn{
    cursor: pointer;
}

.form-search{
    margin: 30px 0 0 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-search input{
    border: none;
    border-bottom: 1px solid rgb(148, 148, 148);
    outline:none;
    margin: 0 10px;
    padding: 4px;
}
.form-search input::placeholder{
    outline: none;
    padding: 5px;
}
.row3-show{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll;
    height: 65vh;
    margin: 20px 0 0 0;
    padding: 0 50px;
}
.row3-show table{
    border-collapse: collapse;
    width: 100%;
}
.row3-show table th, td{
    text-align: left;
    padding: 8px;
    cursor: pointer;
}
.row3-show table td a{
    text-decoration: none;   
}
.row3-show table td #u{
    color: green;
}
.row3-show table td #d{
    color: red;
}
.row3-show table tr:nth-child(even){background-color: #f2f2f2}
  
.row3-show table th {
    background-color: #0393be;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px 15px;
}
a