*{
    padding: 0;
    margin: 0;
}
.main{
    height: 100vh;
    background-color: #1a75c0;
}
.row1{
    background-color: #F9F9F9;
    height: 13%;
}
.row1 .cont{
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.row1 .cont li{
    float: left;
    list-style-type: none;
}
.row1 .cont li:last-child{
    position: relative;
    height: 100%;
    font-size: 44px;
    font-family: sans-serif;
    font-weight: 600;
}
.row1 .cont li:last-child span{
    font-size:medium;
    font-weight: 500;
}
.row1 .cont .logo{
    width: 50px;
}
.row1 .cont .logo img{
    width: 100%;
}

.row2{
    border: 1px solid #5A5A5A;
    display: flow-root;
    background-color: #F9F9F9;
}
.row2 li{
    padding: 5px 0;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 20px;
    margin-right: 10px;
    display: inline-block;
    float: right;
    cursor: pointer;
}
.row2 li:hover{
    font-weight: 600;
}
#home{
    right: 0;
    display: none;
}

.row3{
    display:flex;
}
.row3 div{
    float: left;
}
.row3 .col1{
    width: 50%;
    height: 70vh;
}
.row3 .col1 div{

    margin: 0 0 0 50px;
    font-family: sans-serif;
    color: #F9F9F9;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.row3 .col1 h3{
    font-size: 30px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
}
.row3 .col1 p{
    width: 400px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-size: 17px;
    font-weight: 100;
    margin: 30px 0 25px 0;
    letter-spacing: 1px;

}
.row3 .col1 button{
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 7px 13px;
    cursor: pointer;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
}
.row3 .col2{
    width: 50%;
    height: 82vh;
    background-color: #F9F9F9;
}
.row3 .col2 .img{
    display: block;
    width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.row3 .col2 img{
    width: 100%;
    cursor: pointer;
}

.row3 .col2 .form{
    display: none;
    padding: 30px 25px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row3 .col2 .form h4{
    font-family: sans-serif;
    text-align: center;
    margin: 0 0 20px 0;
    letter-spacing: 1px;
    font-weight: 100;
}
.row3 .col2 .form table{
    border-collapse: collapse;
    border: none;
}
.row3 .col2 .form table tr td{
    padding: 7px 13px;
    font-family: sans-serif;
}
.row3 .col2 .form input{
    height: 30px;
    width: 100%;
    margin: 0;
}